.taskTekst{
    text-align: center;
    color: rgb(70, 88, 159);
}

.taskDiv{
    margin-top: 67px;
}

.overdue{
    color: red;
    font-weight: 500;
}

.notOverdue{
    font-weight: 500;
}

.commentContainer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

input{
    padding: 9px 22px;
    background-color: white;
    border: solid 1px rgb(70, 88, 159);
    box-sizing: border-box;
    outline: none;
}

::placeholder{
    font-family: 'Roboto', sans-serif;
    color: rgb(70, 88, 159);
}

input:focus {
    color: rgb(70, 88, 159);
}

.centerIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(70, 88, 159);
    width: 40px;
    transition: 0.3s;
}

.material-icons{
    margin: 0;
    color: white;
}

.centerIcon:hover{
    background-color: rgb(13, 21, 60);
}

ul > li{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 6px 20px;
    background-color: rgb(243, 245, 255);
    margin: 0px 10px 20px 10px;
    color: rgb(70, 88, 159);
}

ul{
    margin-top: 30px;
}

.buttonCenter{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    z-index: 100;
    border-top: solid 2px rgb(243, 245, 255);
}

form{
    margin-bottom: 80px;
}

#upl{
    margin-bottom: 30px;
    color: rgb(70, 88, 159);
}

#fileToUpload{
    border: none;
}

#uploadFile{
    border: none;
    background-color: rgb(70, 88, 159);
    color: white;
    transition: 0.3s;
}

#uploadFile:hover{
    background-color: rgb(13, 21, 60);
    cursor: pointer;
}